@model MVCApplication.Models.InterviewRound

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InterviewRound</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplicationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplicationId)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoundName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoundName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduledDate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterviewerName)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedback)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedback)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationMinutes)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplication)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
