@model IEnumerable<MVCApplication.Models.InterviewRound>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoundName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterviewerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplication)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.JobApplicationId)
            </td>
            <td>
                @Html.DisplayFor(model => item.RoundName)
            </td>
            <td>
                @Html.DisplayFor(model => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.InterviewerName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Result)
            </td>
            <td>
                @Html.DisplayFor(model => item.Feedback)
            </td>
            <td>
                @Html.DisplayFor(model => item.DurationMinutes)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.JobApplication)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
